name: Rust CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4 # Or the latest stable version
    - name: Install Rust toolchain
      uses: actions-rs/toolchain@v1 # Or the latest stable version
      with:
        toolchain: stable
        override: true
    - name: Build
      run: cargo build --verbose
    # - name: Run tests
    #  run: cargo test --verbose
    # - name: Check formatting
    #  run: cargo fmt --check
    # - name: Run Clippy
    #  run: cargo clippy -- -D warnings
